html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
  color: #666
}

#map img {
  display: block;
  position: absolute;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map img.new {
  display:block;
  width:100vw;
  height: 100vh;
  object-fit: contain;
}

.hidden {
  display: none;
}

.fullscreen-video {
  background: black;
}

.fullscreen-video video {
  background: black;
}

.fullscreen-video .close, .video-open {
  position: absolute;
  font-family: sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.video-open {
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.video-open img, .video-open i {
  opacity: 0.75;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  pointer-events: initial;
}

.video-open img {
  max-width: 1em;
  max-height: 1em;
}

.video-open i {
  color: white;
  text-shadow: 2px 2px 2px black;
}

.video-open:hover {
  z-index: 1;
}

.video-open img:hover, .video-open i:hover {
  opacity: 1;
}

.video-open i:hover + p, .video-open img:hover + p {
  opacity: 1;
}

.fullscreen-video .close {
  top: 0;
  right: 0;
  padding: 0.25em;
  color: white;
  line-height: 0;
}

.chevron {
  margin: 2em;
  position: absolute;
}

.chevron:not(.home) {
  line-height: 0;
}

.chevron.home {
  right: 0;
}

.chevron.prev {
  left: 0;
  bottom: 0;
}

.chevron.next {
  right: 0;
  bottom: 0;
}

.chevron p, .map-marker p {
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 0.1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.map-marker p {
  padding: 0.1em;
}

.chevron p {
  margin: 0;
  transition: opacity 0.25s;
  opacity: 0;
  padding: 0.25em;
}

.chevron:hover p {
  opacity: 1;
}

.chevron.home:hover i {
  transform: translateY(-10px);
}

.chevron.prev:hover i {
  transform: translateX(-10px);
}

.chevron.next:hover i {
  transform: translateX(10px);
}

.chevron i {
  width: 100%;
  text-align: center;
  transition: 0.25s transform;
  color: #999;
  text-shadow: 2px 2px 2px black;
}


.map-marker {
  text-decoration: none;
  text-align: center;
  height: 1em;
}

.map-marker p {
  font-size: 0.4em;
  transition: opacity 0.25s;
  opacity: 0;
  margin: 0;
}

.map-marker i {
  color: #999;
  opacity: 1;
}

.map-marker i:hover {
  animation: bounce 0.5s infinite alternate;
}

.map-marker i span {
  color: black;
  font-family: sans-serif;
  font-size: 0.25em;
  text-shadow: none;
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

@keyframes bounce {
  from {transform: translateY(0px);}
  to {transform: translateY(-5px);}
}

@media only screen and (max-width: 768px) {

  body {
    overflow: scroll;
  }

  #map img {
    margin-top: 3em;
  }
}