html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  color: #666
}

#map img {
  display: block;
  position: absolute;
  z-index: -1;
  max-width: 100vw;
  max-height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#map img.new {
  display:block;
  width:100vw;
  height: 100vh;
  object-fit: contain;
}

.hidden {
  display: none;
}

.fullscreen-video video {
  background: black;
}

.fullscreen-video .close, .video-open {
  position: absolute;
  font-family: sans-serif;
  font-size: 3rem;
  cursor: pointer;
  line-height: 0;
}

.video-open {
  transform: translate(-50%, -50%);
}

.video-open img {
  width: 2em;
  height: 2em;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.video-open img:hover {
  opacity: 1;
}

.fullscreen-video .close {
  top: 0;
  right: 0;
  color: #fff;
  padding: 0.25em;
}

.chevron {
  margin: 2em;
  position: absolute;
}

.chevron:not(.home) {
  line-height: 0;
}

.chevron.prev {
  left: 0;
  bottom: 0;
}

.chevron.next {
  right: 0;
  bottom: 0;
}

.chevron p, .master p {
  text-align: center;
  font-weight: bold;
  color: black;
}

.chevron p {
  margin: 0;
  transition: opacity 0.25s;
  opacity: 0;
}

.chevron:hover p {
  opacity: 1;
}

.chevron.home:hover i {
  transform: translateY(-10px);
}

.chevron.prev:hover i {
  transform: translateX(-10px);
}

.chevron.next:hover i {
  transform: translateX(10px);
}

.chevron i {
  width: 100%;
  text-align: center;
  transition: 0.25s transform;
  color: #999;
  text-shadow: 2px 2px 2px black;
}


.master {
  text-decoration: none;
  text-align: center;
  height: 1em;
}

.master p {
  font-size: 0.4em;
  transition: opacity 0.25s;
  opacity: 0;
  margin: 0.5em;
}

.master i {
  color: rgb(85, 20, 200);
  color: #999;
  text-shadow: 2px 2px 2px black;
}

.master:hover i {
  animation: bounce 0.5s infinite alternate;
}

.master:hover p {
  opacity: 1;
}

@keyframes bounce {
  from {transform: translateY(0px);}
  to {transform: translateY(-5px);}
}


@media only screen and (max-width: 768px) {
  #map img {
    margin-top: 3em;
  }
}